$ffontf: 'Open Sans';
$ffontubuntu: 'Ubuntu';
$ffonthead: 'Raleway';

$fontf: 'Open Sans', sans-serif;
$fontubuntu: 'Ubuntu', sans-serif;
$fonthead: 'Roboto', sans-serif;

// OpenSans Font

/*
@font-face {
  font-family: $ffontf;
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: $ffontf;
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: $ffontf;
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 300;
}
*/

// Raleway Font
/*
@font-face {
  font-family: $ffonthead;
  font-weight: 125 950;
  font-stretch: 75% 125%;
  src: url('../fonts/Raleway-Regular.ttf');
  font-style: oblique 0deg 12deg;
}
*/

// Ubuntu Font

/*
@font-face {
  font-family: $ffontubuntu;
  font-weight: 300;
  src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
  font-family: $ffontubuntu;
  font-weight: 400;
  src: url('../fonts/Ubuntu-Regular.ttf');
 }

@font-face {
  font-family: $ffontubuntu;
  font-weight: 400;
  src: url('../fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: $ffontubuntu;
  font-weight: 300;
  src: url('../fonts/Ubuntu-Light.ttf');
}

*/
